﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

<div class="row">
    <div class="col-12">
        @Html.Action("Index", "CalculatorSurface", new { macroParameters = Model.MacroParameters })
    </div>
</div>