﻿@using Pensionistguide.Custom.Classes
@using Umbraco.Web
@model Pensionistguide.Custom.Models.CalculatorViewModel
@{
    this.MapModel<Pensionistguide.Custom.Models.CalculatorViewModel>();

    var helper = new UmbracoHelper(UmbracoContext.Current);
    var contentPage = helper.TypedContent(UmbracoContext.Current.PageId);
    var categoryColor = contentPage.Parent.GetProperty("categoryColor").GetValue("#000000");
    var macroParameters = (Dictionary<string, object>)ViewContext.RouteData.Values["macroParameters"];
}

@using (Html.BeginUmbracoForm<Pensionistguide.Custom.Controllers.CalculatorSurfaceController>("CulculatorSubmit", null, new { id = "calculator-form", autocomplete = "off" }))
{
    <div class="form-group row">
        @Html.LabelFor(model => model.AllowancePercentage, new { @class = "col-lg-2 col-12 col-form-label" })
        <div class="col-lg-8 col-10">
            @Html.TextBoxFor(model => model.AllowancePercentage, new { @class = "form-control" })
        </div>
        <div class="col-lg-2 col-2">
            <button type="button" class="btn btn-secondary btn-sm rounded-circle pt-0" data-toggle="modal" data-target="#allowance-percentage-modal">
                <span class="oi oi-question-mark"></span>
            </button>
            <div id="allowance-percentage-modal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            @Html.Raw(macroParameters["HelpTooltipAllowancePercentage"])
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary text-uppercase" data-dismiss="modal">
                                Luk <div class="oi oi-x ml-1"></div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(model => model.Fortune, new { @class = "col-lg-2 col-12 col-form-label" })
        <div class="col-lg-8 col-10">
            @Html.TextBoxFor(model => model.Fortune, new { @class = "form-control" })
        </div>
        <div class="col-lg-2 col-2">
            <button type="button" class="btn btn-secondary btn-sm rounded-circle pt-0" data-toggle="modal" data-target="#fortune-modal">
                <span class="oi oi-question-mark"></span>
            </button>
            <div id="fortune-modal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            @Html.Raw(macroParameters["HelpTooltipFortune"])
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary text-uppercase" data-dismiss="modal">
                                Luk <div class="oi oi-x ml-1"></div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(model => model.HasHealthAllowance, new { @class = "col-lg-2 col-12 col-form-label" })
        <div class="col-lg-8 col-10">
            @Html.RadioButtonFor(model => model.HasHealthAllowance, true) @Html.Label("Ja")
            @Html.RadioButtonFor(model => model.HasHealthAllowance, false) @Html.Label("Nej")
        </div>
        <div class="col-lg-2 col-2">
            <button type="button" class="btn btn-secondary btn-sm rounded-circle pt-0" data-toggle="modal" data-target="#has-health-allowance-modal">
                <span class="oi oi-question-mark"></span>
            </button>
            <div id="has-health-allowance-modal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            @Html.Raw(macroParameters["HelpTooltipHasHealthAllowance"])
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary text-uppercase" data-dismiss="modal">
                                Luk <div class="oi oi-x ml-1"></div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <button type="submit" class="btn btn-lg btn-responsive text-white text-uppercase rounded-0 shadow-sm" style="background-color: #@categoryColor; border-color: 1px solid #@categoryColor;">
                Beregn <div class="oi oi-calculator ml-1"></div>
            </button>
        </div>
    </div>
}

<div class="row mt-4 mb-4 d-none" id="health-allowance-breaker">
    <div class="col-md-12">
        <div class="p-4 text-center text-white" style="font-weight: normal; background-color: #@categoryColor;">
            <h2>@macroParameters["ContentPageBreakerHeadline"]</h2>
            <p>@macroParameters["ContentPageBreakerText"]</p>
        </div>
    </div>
</div>

@if (Model.ContentPageResults != null && Model.ContentPageResults.Any())
{
    @Html.Partial("~/Views/Partials/Navigation/CategoryContent.cshtml", new Tuple<string, string, List<IPublishedContent>>("Resultater", macroParameters["TextBeforeResults"].ToString(), Model.ContentPageResults))
}