﻿@model Tuple<string, string, List<IPublishedContent>>

<div class="mt-md-4 mt-2">
    <h2 class="text-center text-muted">@Model.Item1</h2>
    <p>
        @Model.Item2
    </p>
    <div class="row mt-2">
        @foreach (var page in Model.Item3)
        {
            var pageMenuImage = page.GetCropUrl(propertyAlias: "pageMenuImage", cropAlias: "Menu Image", furtherOptions: "&bgcolor=fff");

            <div class="col-md-4 col-6 mt-4">
                <a href="@page.Url" class="link-unstyled">
                    <div class="category-child-page p-2 text-center h-100" style="background-color: #@page.Parent.GetProperty("categoryColor").GetValue("#000000");">
                        <div class="category-child-page-name text-white text-uppercase">
                            @page.Name
                        </div>
                        @if (!string.IsNullOrWhiteSpace(pageMenuImage))
                        {
                            <div class="mt-2">
                                <img src="@pageMenuImage" alt="@page.Name" class="border border-white" />
                            </div>
                        }
                    </div>
                </a>
            </div>
        }
    </div>
</div>