﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var currentCategory = Model.Content.DocumentTypeAlias == "category" ? Model.Content.Name : Model.Content.Parent.Name;
    var categories = Model.Content.Site().Children.Where(c => c.IsVisible()).OrderByDescending(x => x.Name == currentCategory);
}

<div class="row" id="accordion">
    <div class="col-12">
        @foreach (var category in categories)
        {
            var categoryMenuImage = category.GetCropUrl("categoryImage", "Menu Image").ToString();
            var categoryMenuImageStyle = !string.IsNullOrWhiteSpace(categoryMenuImage) ? "background-image: url('" + categoryMenuImage + "');" : string.Empty;
            var categoryColor = category.GetPropertyValue("categoryColor");

            if (category.Children.Any(c => c.IsVisible()))
            {
                <a class="collapsible-navigation-item-link" data-toggle="collapse" data-target="#@category.Id">
                    <div class="row collapsible-navigation-item mt-4" style="border: 5px solid #@categoryColor; @Html.Raw(categoryMenuImageStyle)">
                        <div class="col-12">
                            <span class="text-uppercase" style="color: #@categoryColor;">@category.Name</span>
                        </div>
                    </div>
                </a>

                <div id="@category.Id" class="row mt-2 collapse @category.IsEqual(Model.Content, "show")" data-parent="#accordion">
                    @foreach (var contentPage in category.Children)
                    {
                        var pageMenuImage = contentPage.GetCropUrl(propertyAlias: "pageMenuImage", cropAlias: "Menu Image", furtherOptions: "&bgcolor=fff");

                        <div class="col-lg-4 col-6 mt-4">
                            <a href="@contentPage.Url" class="link-unstyled">
                                <div class="category-child-page p-2 text-center h-100" style="background-color: #@category.GetPropertyValue("categoryColor");">
                                    <div class="category-child-page-name text-white text-uppercase">
                                        @contentPage.Name
                                    </div>
                                    @if (!string.IsNullOrWhiteSpace(pageMenuImage))
                                    {
                                        <div class="mt-2">
                                            <img src="@pageMenuImage" alt="@category.Name" class="border border-white" />
                                        </div>
                                    }
                                </div>
                            </a>
                        </div>
                    }
                </div>
            }
        }
    </div>
</div>