﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

<div class="row mt-4 mb-4">
    <div class="col-md-12">
        <div class="p-4 text-center text-white" style="background-color: #@Umbraco.Field("categoryColor", recursive: true, altText: "#000000");">
            @Model.MacroParameters["Content"]    
        </div>
    </div>
</div>