﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var linkText = Model.MacroParameters["LinkText"] != null && !string.IsNullOrWhiteSpace(Model.MacroParameters["LinkText"].ToString()) ? Model.MacroParameters["LinkText"].ToString() : string.Empty;
    var link = Model.MacroParameters["Link"] != null && !string.IsNullOrWhiteSpace(Model.MacroParameters["Link"].ToString()) ? Model.MacroParameters["Link"].ToString() : string.Empty;
    var target = Model.MacroParameters["OpenInNewWindow"] != null && !string.IsNullOrWhiteSpace(Model.MacroParameters["OpenInNewWindow"].ToString()) ? Convert.ToBoolean(int.Parse(Model.MacroParameters["OpenInNewWindow"].ToString())) ? "_blank" : "_self" : string.Empty;
}


<div class="row mt-5 mb-5">
    <div class="col-12 text-center">
        <a href="@link" target="@target" class="btn btn-lg btn-responsive text-white rounded-0 shadow-sm text-uppercase" style="background-color: #@Umbraco.Field("categoryColor", recursive: true, altText: "#000000"); border-color: #@Umbraco.Field("categoryColor", recursive: true, altText: "#000000");">
            @linkText
        </a>
    </div>
</div>