/* Design */

.body-content {
    font-family: Tahoma, Verdana, Geneva, Helvetica, sans-serif;
    font-size: 23px;
}

.custom-container {
    max-width: 1170px;
}

.site-name {
    font-size: 30px;
}

.site-banner {
    min-height: 370px;
}

.site-banner-bg {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.site-banner-category-name {
    text-align: center;
}

    .site-banner-category-name h1 {
        font-weight: 600;
        font-size: 35px;
    }


/* Search */

.search-btn {
    background-color: #9a1f53;
    border-color: #9a1f53;
}

/* General */

.page-headline {
    font-size: 30px;
}

img {
    max-width: 100%;
}

hr {
    border: 2px solid #000;
}

.link-unstyled:hover, .link-unstyled:focus, .link-unstyled:link {
    text-decoration: none !important;
}

@media screen and (max-width: 420px) {
    .body-content {
        font-family: Tahoma, Verdana, Geneva, Helvetica, sans-serif;
        font-size: 15px;
    }

    .site-banner {
        min-height: 150px;
    }

    .site-name {
        font-size: 17px;
    }

    .site-banner-category-name h1 {
        font-size: 17px;
    }

    .page-headline, .category-name {
        font-size: 20px;
    }

    .btn-responsive {
        padding: 4px 9px;
        font-size: 15px;
        line-height: 1.2;
    }
}

/* Process */

.process {
    list-style: none;
    position: relative;
    font-size: 18px;
}

    .process:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .process > li {
        position: relative;
    }

        .process > li:before,
        .process > li:after {
            content: " ";
            display: table;
        }

        .process > li:after {
            clear: both;
        }

        .process > li:before,
        .process > li:after {
            content: " ";
            display: table;
        }

        .process > li:after {
            clear: both;
        }

        .process > li > .process-panel {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px #000000;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px #000000;
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .process > li > .process-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .process > li > .process-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .process > li > .process-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .process > li.process-inverted > .process-panel {
            float: right;
        }

            .process > li.process-inverted > .process-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .process > li.process-inverted > .process-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }
