/* Tabs */

.navigations-tabs-content {
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}

.custom-nav-tabs > li > a {
    color: #9a1f53;
    font-size: 20px;
}

    .custom-nav-tabs > li > a.active {
        color: #9a1f53 !important;
        font-weight: 700 !important;
        background-color: transparent !important;
    }

    .custom-nav-tabs > li > a:hover {
        text-decoration: underline !important;
    }

/* Nav Pills */

.custom-nav-pills > li > a {
    color: #9a1f53;
    font-size: 20px;
}

    .custom-nav-pills > li > a.active {
        color: #ffffff !important;
        background-color: #9a1f53 !important;
    }

    .custom-nav-pills > li > a:hover {
        text-decoration: underline !important;
    }

/* Collapsible Navigation */

.collapsible-navigation-item {
    min-height: 200px;
    text-align: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

    .collapsible-navigation-item span {
        font-size: 35px;
    }

/* General */

.category-child-page {
    min-height: 270px;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.category-child-page-name {
    font-size: 25px;
}

@media screen and (max-width: 420px) {
    .collapsible-navigation-item {
        min-height: 100px;
    }

    .collapsible-navigation-item span {
        font-size: 20px;
    }

    .category-child-page {
        min-height: 90px;
    }

    .category-child-page-name {
        font-size: 16px;
    }

    .custom-nav-tabs > li > a {
        font-size: 12px;
    }

    .custom-nav-pills > li > a {
        font-size: 12px;
    }
}
