﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var processSteps = Model.Content.Children.Where(c => c.DocumentTypeAlias == "processStep" && c.IsVisible()).ToList();
    var processStepIndex = 0;
}

@if (processSteps.Any())
{
    <ul class="process mb-0 pt-4 pb-4 pr-0 pl-0">
        @foreach (var step in processSteps)
        {
            <li class="mb-3  @( processStepIndex % 2 != 0 ? "process-inverted" : "" )">
                <div class="process-badge">@( step.SortOrder + 1 )</div>
                <div class="process-panel p-3">
                    <h4 class="mt-0 font-weight-bold h5">@step.Name</h4>
                    @( Html.Raw(step.GetPropertyValue<string>("processStepDescription")) )
                </div>
            </li>

            processStepIndex++;
        }
    </ul>
}