<div ng-controller="Macro.RichTextMacroParameter">
    <div style="border: 1px solid #ccc">
        <ng-form>
            <umb-editor model="textInput"></umb-editor>
        </ng-form>
    </div>
</div>