﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var searchQuery = Request.QueryString["query"];
    var url = Request.Url;
}

<form action="@url" method="GET" autocomplete="off">
    <div class="form-group row mb-md-4">
        <label for="Query" class="col-lg-2 col-12 col-form-label">
            Indtast søgeord
        </label>
        <div class="col-lg-8 col-12">
            <input type="text" id="Query" name="query" class="form-control">
        </div>
        <div class="col-lg-2 col-12 mt-3 mt-md-0 text-center">
            <button class="btn btn-lg btn-responsive text-white text-uppercase rounded-0 shadow-sm search-btn">
                Søg <span class="oi oi-magnifying-glass ml-1"></span>
            </button>
        </div>
    </div>
</form>

@if (!string.IsNullOrEmpty(searchQuery))
{
    <div class="row">
        <div class="col-12">
            <p>Resultater for: <strong>@searchQuery</strong></p>
            <ul>
                @foreach (var result in Umbraco.TypedSearch(searchQuery).Where(r => r.DocumentTypeAlias != "processStep").ToList())
                {
                    <li>
                        <a href="@result.Url">@result.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
}