﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var pages = Model.Content.Site().Children(c => c.IsVisible());
    var pills = Model.Content.Children(c => c.IsVisible() && (c.DocumentTypeAlias == "contentPage" ||c.DocumentTypeAlias == "calculator")).Any() ? Model.Content.Children(c => c.IsVisible() && (c.DocumentTypeAlias == "contentPage" || c.DocumentTypeAlias == "calculator")).ToList() : Model.Content.Parent.Children.Where(c => c.IsVisible() && (c.DocumentTypeAlias == "contentPage" || c.DocumentTypeAlias == "calculator")).ToList();
}

<div class="row">
    <div class="col-12 pr-0 pl-0 m-0 w-100">
        <ul class="nav nav-tabs nav-justified custom-nav-tabs mt-2">
            @foreach (var page in pages)
            {
                <li class="nav-item">
                    <a class="nav-link p-1 @page.IsAncestorOrSelf(Model.Content, "active")" href="@page.Url">
                        @page.Name
                    </a>
                </li>
            }
        </ul>

        @if (pills.Any())
        {
            <div class="navigations-tabs-content p-md-3 p-2">
                <ul class="nav nav-pills custom-nav-pills">
                    @foreach (var page in pills)
                    {
                        <li class="nav-item">
                            <a class="nav-link p-2 mr-1 @page.IsEqual(Model.Content, "active")" href="@page.Url">
                                @page.Name
                            </a>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>